/**
 * @name The rock theme
 * @author soft
 * @version 1.1
 * @description its about drive. Its about power. We stay hungery. We devour.
 * @invite cloaks
 * @authorId 437098129373003776
 * @source https://github.com/softiscold/themes/
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: url('https://www.whoa.in/download/the-rock-shirtless-with-wwe-wrestler-style-hd-wwe-wallpaper');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: transparent;
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 0,0,0;
  --accentcolor: 244,128,54;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: rgb(4,30,66,0.57);
  --transparencyalpha: 0.15;
  --messagetransparency: 0.5;
  --guildchanneltransparency: 0.15;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --textbrightest: 221,125,43;
  --textbrighter: 184,97,22;
  --textbright: 158,86,24;
  --textdark: 4,171,182;
  --textdarker: 2,130,138;
  --textdarkest: 3,83,88;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}

/* Any custom CSS below here */


